<!-- NG-ZORRO -->
<nz-layout>
    <nz-header>
        <div nz-row [nzGutter]="12" *ngIf="screenWith > 990">
            <div nz-col nzSpan="5">
                <img id="home-logo" nz-image nzSrc="/assets/images/home-logo.png">
            </div>
            <div nz-col nzSpan="13" class="header-menu">
                <div nz-row nzJustify="end">
                    <div nz-col nzLg="16" nzMd="24" nzSm="24" nzXs="24">
                        <ul nz-menu nzMode="horizontal">
                            <li nz-menu-item>Login/Register</li>
                            <li nz-menu-item>About us</li>
                            <li nz-menu-item>Products</li>
                            <li nz-menu-item>Contact us</li>
                        </ul>
                    </div>
                </div>
                <div nz-row nzJustify="end">
                    <div nz-col nzLg="16" nzMd="24" nzSm="24" nzXs="24">
                        <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
                            <input type="text" nz-input placeholder="Insert SKU, Name or Printer Model" />
                        </nz-input-group>
                        <ng-template #addOnBeforeTemplate>
                            <i nz-icon nzType="search"></i>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div nz-col nzSpan="6">
                <div class="header-item">
                    <p class="header-item-title">Find Ink & Toner</p>
                    <nz-input-group class="header-item-input-group" [nzSuffix]="suffixIconDown">
                        <input type="text" nz-input placeholder="Choose Brand" />
                    </nz-input-group>
                    <ng-template #suffixIconDown>
                        <button nz-button nzType="default" id="brandselection"><i nz-icon nzType="down" nzTheme="outline"></i></button>
                    </ng-template>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="Product Search" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <button nz-button nzType="default" id="searchbutton"><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
            </div>
        </div>
        <div *ngIf="screenWith <= 990">
            <div nz-row>
                <div nz-col nzSpan="4" class="header-tool-fold">
                    <button nz-button class="drawer-button" nzType="text" (click)="openMenu()">
                  <i nz-icon class="drawer-button-icon" style="font-size: 31px;" nzType="menu-unfold" nzTheme="outline" ></i>
                </button>
                    <nz-drawer [nzClosable]="false" [nzFooter]="footerMenu" [nzVisible]="menuVisible" nzPlacement="left" (nzOnClose)="closeMenu()">
                        <ng-container *nzDrawerContent>
                            <ul nz-menu nzMode="vertical">
                                <li nz-menu-item>Login/Register</li>
                                <li nz-menu-item>About us</li>
                                <li nz-menu-item>Products</li>
                                <li nz-menu-item>Contact us</li>
                            </ul>
                        </ng-container>
                        <ng-template #footerMenu>
                            <button nz-button nzType="default" (click)="closeMenu()">Close</button>
                        </ng-template>
                    </nz-drawer>
                </div>
                <div nz-col nzSpan="16">
                    <img id="home-logo" nz-image nzSrc="/assets/images/home-logo.png">
                </div>
                <div nz-col nzSpan="4" class="header-tool-fold">
                    <button nz-button nzType="text" (click)="openSearch()">
                    <i nz-icon nzType="search" style="font-size: 31px;" nzTheme="outline" ></i>
                  </button>
                    <nz-drawer [nzClosable]="false" [nzFooter]="footerSearch" nzWidth="100%" [nzVisible]="searchVisible" nzPlacement="right" (nzOnClose)="closeSearch()">
                        <ng-container *nzDrawerContent>
                            <nz-input-group nzSize="large" class="header-item-input-group" [nzSuffix]="suffixIconDown">
                                <input type="text" nz-input placeholder="Choose Brand" />
                            </nz-input-group>
                            <ng-template #suffixIconDown>
                                <button nz-button nzType="default" id="brandselection"><i nz-icon nzType="down" nzTheme="outline"></i></button>
                            </ng-template>
                            <br><br>
                            <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
                                <input type="text" nz-input placeholder="Product Search" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                <button nz-button nzType="default" id="searchbutton"><i nz-icon nzType="search"></i></button>
                            </ng-template>
                        </ng-container>
                        <ng-template #footerSearch>
                            <button nz-button nzType="default" (click)="closeSearch()">Close</button>
                        </ng-template>
                    </nz-drawer>
                </div>
            </div>
            <div nz-col nzSpan="24">
                <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
                    <input type="text" nz-input placeholder="Insert SKU, Name or Printer Model" />
                </nz-input-group>
                <ng-template #addOnBeforeTemplate>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </div>
        </div>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>
        <div *ngIf="screenWith > 990">
            <div class="footer-link-section">
                <div class="footer-box" nz-row nzJustify="start">
                    <div nz-col nzLg="6" class="footer-title">Contact Us</div>
                    <div nz-col nzLg="6" class="footer-title">Sitemap</div>
                    <div nz-col nzLg="6" class="footer-title">Support</div>
                    <nz-divider></nz-divider>
                </div>

                <div class="footer-box" nz-row nzJustify="start">
                    <div nz-col nzLg="6" class="footer-link">
                        <div nz-row>
                            <div nz-col nzLg="3"><i nz-icon nzType="global" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p>Unit 1-26 Radley Street Virginia, QLD 4014</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="3"><i nz-icon nzType="phone" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p class="foot-link">Ph: 1300 789 912</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="3"><i nz-icon nzType="printer" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p class="foot-link">Fax: 07 3262 9068</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="3"><i nz-icon nzType="mail" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p>Email: info@q-imaging.com.au</p>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzLg="6" class="footer-link">
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>About Us</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>Products</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>Contact Us</p>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzLg="6" class="footer-link">
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>30 Day Credit Application Form</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>Returns Form</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>FAQs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="screenWith <= 990">
            <nz-collapse>
                <nz-collapse-panel nzHeader="Contact Us">
                    <div nz-col nzLg="24" class="footer-link">
                        <div nz-row>
                            <div nz-col nzLg="4"><i nz-icon nzType="global" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p>Unit 1-26 Radley Street Virginia, QLD 4014</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="4"><i nz-icon nzType="phone" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p class="foot-link">Ph: 1300 789 912</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="4"><i nz-icon nzType="printer" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p class="foot-link">Fax: 07 3262 9068</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="4"><i nz-icon nzType="mail" nzTheme="outline"></i></div>
                            <div nz-col nzLg="20">
                                <p>Email: info@q-imaging.com.au</p>
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
                <nz-collapse-panel nzHeader="Sitemap">
                    <div nz-col nzLg="24" class="footer-link">
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>About Us</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>Products</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>Contact Us</p>
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
                <nz-collapse-panel nzHeader="Support">
                    <div nz-col nzLg="6" class="footer-link">
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>30 Day Credit Application Form</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>Returns Form</p>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzLg="20">
                                <p>FAQs</p>
                            </div>
                        </div>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div class="footer-copyright-section">
            <div nz-row class="footer-box">
                <div nz-col nzLg="15">
                    <p>© Q-IMAGING AUSTRALIA Powered by TOTECS </p>
                </div>
                <div nz-col nzLg="9">
                    Privacy Policy
                    <nz-divider nzType="vertical"></nz-divider>
                    Terms and Conditions
                    <nz-divider nzType="vertical"></nz-divider>
                    Freight and Returns
                </div>
            </div>
        </div>
    </nz-footer>
</nz-layout>