/* You can add global styles to this file, and also import other style files */

.colour-light {
    color: #ffff;
}

.text-align-center {
    text-align: center;
}

.without-margin {
    margin: 0;
}

.ant-layout {
    background-color: #ffff;
}

.ant-divider {
    border-top: 3px solid rgba(0, 0, 0, 0.06);
}

.ant-layout-header {
    height: fit-content;
    background-color: #ffff;
    padding: 1% 0;
    margin: auto;
    width: 1400px;
    min-width: 70%;
    max-width: 100%;
}

.ant-menu-horizontal {
    border: none;
}

.inner-content {
    width: 1400px;
    min-width: 70%;
    max-width: 100%;
    margin: auto;
}

.ant-layout-footer {
    padding: unset;
}

.footer-link-section {
    background-color: rgb(27, 93, 119);
    padding: 1%;
}

.footer-box {
    width: 1400px;
    min-width: 70%;
    max-width: 100%;
    margin: auto;
    color: #ffff;
    font-size: 15px;
}

.footer-title {
    font-size: 28px;
    color: #ffff;
    font-weight: 600;
}

@media screen and (min-width:991px) {
    .footer-link {
        color: white;
        font-size: 15px;
    }
}

@media screen and (max-width:990px) {
    .footer-link {
        color: rgb(16, 61, 78);
        font-size: 15px;
    }
}

.footer-copyright-section {
    background-color: rgb(16, 61, 78);
    padding: 1%;
}

.featured-button {
    background-color: rgb(27, 93, 119);
    color: white;
}